<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cadastrar Sessão de Treino</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item [class.invalid]="isNewExerciseNameEmpty">
    <ion-label position="floating">Nome da Sessão de Treino</ion-label>
    <ion-input [(ngModel)]="sessionName"></ion-input>
  </ion-item>

  <!-- Lista de exercícios -->
  <ion-list>
    <ion-item *ngFor="let exercise of exercises; let i = index">
      <ion-label>{{ exercise.name }}</ion-label>
      <ion-icon name="trash-outline" slot="end" (click)="removeExercise(i)" color="danger"></ion-icon>
    </ion-item>
  </ion-list>

  <!-- Formulário para cadastrar exercícios -->
  <ion-item>
    <ion-input [(ngModel)]="newExerciseName" placeholder="Nome do Exercício" (ionInput)="toggleAddIcon()"></ion-input>
    <ion-icon slot="end" name="add-circle" (click)="addExercise()" [color]="isNewExerciseNameEmpty ? 'danger' : 'primary'"></ion-icon>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-button expand="full" [disabled]="isModalEmpty" (click)="saveSession()" color="success">Confirmar</ion-button>
</ion-footer>