<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-item>
  <ion-toggle>Leg Press | 15 Repetições | 3 Series | 20Kgs</ion-toggle>
</ion-item>
<ion-item>  
  <ion-toggle>Abdominal | 15 Repetições | 3 Series</ion-toggle>  
</ion-item>
<ion-item>  
  <ion-toggle>Supino Reto | 15 Repetições | 3 Series</ion-toggle>  
</ion-item>
<ion-item>
  <ion-toggle> Caminhada | 15 minutos | 6km/h </ion-toggle>
</ion-item>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>  
</ion-content>
