<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Inserir Nova Avaliação
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Avaliação</ion-title>
    </ion-toolbar>   
  </ion-header>
<ion-item>
  <ion-input label="Nome: " type="string" placeholder="" [(ngModel)] = "avaliacao.nome" placeholder="" id="nome" name="nome" ></ion-input>
</ion-item>
<ion-item >
  <ion-input label="Data: " type="date" placeholder="" [(ngModel)] = "avaliacao.data" placeholder="" id="data" name="data" ></ion-input>
</ion-item>
<ion-item >
  <ion-input label="Idade: " type="number" placeholder="" [(ngModel)] = "avaliacao.idade" placeholder="" id="idade" name="idade" ></ion-input>
</ion-item>
<ion-item>
  <ion-input label="Peso: " type="number" placeholder="" [(ngModel)] = "avaliacao.peso" placeholder="" id="peso" name="peso"></ion-input>
</ion-item>
<ion-item>
  <ion-input label="Altura: " type="number" placeholder="" [(ngModel)] = "avaliacao.altura" placeholder="" id="altura" name="altura"></ion-input>
</ion-item>
<ion-item>
  <ion-input label="% de Gordura: " type="number" placeholder="" [(ngModel)] = "avaliacao.gordura" placeholder="" id="gordura" name="gordura"></ion-input>
</ion-item>
<ion-item>
  <ion-input label="Peso da Gordura: " type="number" placeholder="" [(ngModel)] = "avaliacao.pesoGordura" placeholder="" id="pesoGordura" name="pesoGordura"></ion-input>
</ion-item>
<ion-item>
  <ion-input label="% de Massa Magra: " type="number" placeholder="" [(ngModel)] = "avaliacao.massaMagra" placeholder="" id="massaMagra" name="massaMagra"></ion-input>
</ion-item>
<ion-item>
  <ion-input label="Peso da Massa Magra: " type="number" placeholder="" [(ngModel)] = "avaliacao.pesoMassaMagra" placeholder="" id="pesoMassaMagra" name="pesoMassaMagra"></ion-input>
</ion-item>
<ion-item>
  <ion-input label=" Massa Muscular: " type="number" placeholder="" [(ngModel)] = "avaliacao.massaMuscular" placeholder="" id="massaMuscular" name="massaMuscular"></ion-input>
</ion-item>
<ion-item>
  <ion-input label="Peso da Massa Muscular: " type="number" placeholder="" [(ngModel)] = "avaliacao.pesoMassaMuscular" placeholder="" id="pesoMassaMuscular" name="pesoMassaMuscular"></ion-input>
</ion-item>
<ion-item>
  <ion-input label="% de Agua: " type="number" placeholder="" [(ngModel)] = "avaliacao.agua" placeholder="" id="agua" name="agua"></ion-input>
</ion-item>
<ion-item>
  <ion-input label="Teor de Agua: " type="number" placeholder="" [(ngModel)] = "avaliacao.teorAgua" placeholder="" id="teorAgua" name="teorAgua"></ion-input>
</ion-item>
<ion-item>
  <ion-input label="Gordura Viscearal: " type="number" placeholder="" [(ngModel)] = "avaliacao.gorduraV" placeholder="" id="gorduraV" name="gorduraV"></ion-input>
</ion-item>
<ion-item>
  <ion-input label="Peso dos Ossos: " type="number" placeholder="" [(ngModel)] = "avaliacao.pesoOssos" placeholder="" id="pesoOssos" name="pesoOssos"></ion-input>
</ion-item>
<ion-item>
  <ion-input label="Metabolismo: " type="number" placeholder="" [(ngModel)] = "avaliacao.metabolismo" placeholder="" id="metabolismo" name="metabolismo"></ion-input>
</ion-item>
<ion-item>
  <ion-input label="% de Proteína: " type="number" placeholder="" [(ngModel)] = "avaliacao.proteina" placeholder="" id="proteina" name="proteina"></ion-input>
</ion-item>
<ion-item>
  <ion-input label="Obesidade: " type="number" placeholder="" [(ngModel)] = "avaliacao.obesidade" placeholder="" id="obesidade" name="obesidade"></ion-input>
</ion-item>
<ion-item>
  <ion-input label="Idade do Corpo: " type="number" placeholder="" [(ngModel)] = "avaliacao.idadeCorpo" placeholder="" id="idadeCorpo" name="idadeCorpo"></ion-input>
</ion-item>
<ion-item>
  <ion-input label="LBM: " type="number" placeholder="" [(ngModel)] = "avaliacao.lbm" placeholder="" id="lbm" name="lbm"></ion-input>  
</ion-item>
<ion-footer>
  <ion-button color="primary" expand="full" (click)="criaAvaliacao()">Registrar Avaliação</ion-button>
</ion-footer>
</ion-content>
