<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Avaliação
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Avaliação</ion-title>
    </ion-toolbar>   
  </ion-header>
  <ion-item>
    <ion-input label="Nome: " placeholder="Digite seu nome"></ion-input>
</ion-item>
<ion-item>
  <ion-input label="Idade: " type="number" placeholder="30"></ion-input>
</ion-item>
<ion-item>
  <ion-input label="Peso: " type="number" placeholder="80"></ion-input>
</ion-item>
<ion-item>
  <ion-input label="Altura: " type="number" placeholder="1.70"></ion-input>
</ion-item>
<ion-item>
  <ion-input label="Porcentagem de Gordura: " type="number" placeholder="20"></ion-input>
</ion-item>
<ion-item>
  <ion-input label="Porcentagem de Massa Magra: " type="number" placeholder="15"></ion-input>
</ion-item> 
  <ion-list>
    <ion-item>
      <ion-select label="Sexo" placeholder="Masculino">
        <ion-select-option value="Feminino">Apple</ion-select-option>
        <ion-select-option value="Outros">Banana</ion-select-option>        
      </ion-select>
    </ion-item>
  </ion-list> 

</ion-content>

