<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-icon name="barbell-outline"></ion-icon>
        <ion-title> Frequencia </ion-title>
        <ion-icon name="bicycle-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="myclass">
    <ion-datetime 
    presentation="date" 
    [multiple]="true" 
    [value]="selectedDays"   
    (ionChange)="onDaysChanged($event)" 
    color="success"
    [disabled]="true"
    ></ion-datetime>
  </div>
</ion-content>
