.caret-forward {
    font-size: 20px;
}

.caret-down {
    font-size: 20px;
}

.session-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exercise-list {
    padding-left: 16px;
}

.edit-button,
.delete-button {
    float: left;
}

.session-card-header {
    display: block;
}

.done-session-icon {
    margin-left: 1rem;
    padding-top: 0.3rem;
    color: var(--ion-color-primary, #3880ff)
  }