<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-icon name="bicycle-outline"></ion-icon>
    <ion-title>Meu Treino</ion-title>
    <ion-icon name="barbell-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar color="primary"></ion-toolbar>

  <!-- Lista de sessões -->
  <ion-list>
    <ion-item *ngFor="let session of sessions">
      <ion-label (click)="expandSession(session)">
        <ion-icon name="caret-forward" *ngIf="!session.expanded"></ion-icon>
        <ion-icon name="caret-down" *ngIf="session.expanded"></ion-icon>
        {{ session.name }}
      </ion-label>
      
      <!-- Lista de exercícios para esta sessão (expansível) -->
      <ion-list *ngIf="session.expanded">
        <ion-item *ngFor="let exercise of session.exercises; let i = index">
          <ion-label>{{ exercise.name }}</ion-label>
          <ion-checkbox [(ngModel)]="exercise.completed" (ionChange)="markExerciseComplete(exercise)"></ion-checkbox>
        </ion-item>
      </ion-list>
      
      <ion-icon name="create" slot="end" (click)="editSession(session)"></ion-icon>
      <ion-icon name="trash" slot="end" (click)="removeSession(session)"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-button color="primary" expand="full" (click)="openSessionModal()">Cadastrar Sessão de Treino</ion-button>
</ion-footer>
