<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Meu Treino</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Lista de sessões -->
  <ion-list>
    <ion-card *ngFor="let session of sessions">
      <ion-card-header (click)="expandSession(session)">
        <ion-icon name="caret-forward" *ngIf="!session.expanded"></ion-icon>
        <ion-icon name="caret-down" *ngIf="session.expanded"></ion-icon>
        {{ session.name }}
      </ion-card-header>
    
      <!-- Adicionar botões de edição e exclusão à direita -->
      <ion-button *ngIf= "!session.expanded" fill="clear" color="secondary" class="edit-button" (click)="editSession(session)">
        <ion-icon  name="create"></ion-icon>
      </ion-button>
      <ion-button *ngIf= "!session.expanded" fill="clear" color="danger" class="delete-button" (click)="removeSession(session)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    
      <!-- Lista de exercícios para esta sessão (expansível) -->
      <ion-card-content *ngIf="session.expanded">
        <ion-list>
          <ion-item *ngFor="let exercise of session.exercises; let i = index">
            <ion-label>{{ exercise.name }}</ion-label>
            <ion-toggle [(ngModel)]="exercise.checked" (ionChange)="markExerciseComplete(session, exercise)"></ion-toggle>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card> 
  </ion-list>
</ion-content>

<ion-footer>
  <ion-button color="primary" expand="full" (click)="openSessionModal()">Cadastrar Sessão de Treino</ion-button>
</ion-footer>
