<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-icon name="bicycle-outline"></ion-icon>
    <ion-title>Treino</ion-title>
    <ion-icon name="barbell-outline"></ion-icon>
    
  </ion-toolbar >
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">Treino</ion-title>
     

    </ion-toolbar>
  </ion-header>

  <!-- Botão para cadastrar sessão de treino -->
  
  <ion-toolbar color="primary"><ion-button (click)="openSessionModal()">Cadastrar Sessão de Treino </ion-button>
    
 </ion-toolbar>
  <!-- Lista de sessões e exercícios -->
  <ion-list>
    <ion-item *ngFor="let session of sessions">
      <ion-label>{{ session.name }}</ion-label>
      <ion-toggle [checked]="session.completed" (ionChange)="markSessionComplete(session)"></ion-toggle>

      <!-- Lista de exercícios para esta sessão -->
      
      <ion-list *ngIf="session.exercises && session.exercises.length > 0">
        <ion-item *ngFor="let exercise of session.exercises">
          {{ exercise.name }}
        </ion-item>
      </ion-list>
    </ion-item>
  </ion-list>
</ion-content>

